.header {
    background-color: rgba(17, 17, 17, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.header.scroll {
    background-color: #312d35;
}

.header .wrapper-header {
    position: relative;
    max-width: 1200px;
    padding: 14px 20px 20px 0;
    margin: auto; 
}

.header.scroll .wrapper-header {
    padding: 10px 20px 10px 0;
}

.header .wrapper-header img {
    max-width: 200px;
}

.header.scroll .wrapper-header img {
    max-width: 120px;
}

.header .menu i {
    font-size: 40px;
    color: #fff;
}
